main{
border:1px solid white ;
box-shadow:5px 5px 10px rgba(0, 0, 0, 0.3) ;
padding:50px 30px 50px 30px ;
margin-top:200px ;
margin-left:500px;
margin-bottom:200px;
 }

button#nav-home-tab:hover{
    color: orangered;
}
button#nav-profile-tab:hover{
    color: orangered;
}
.link1{
    color: orangered;
    margin-left:300px ;

}
.checkbox{
    margin-top:30px ;
}
.para1{
    margin-top:30px ;
}
p{
    color: rgb(110, 104, 104);
    font-size: 15px;
}
.btn1{
    width: 100px;
    padding: 10px;
    color: white;
    background-color: orangered;
    border: none;
    margin-left: 450px;
}
.btn2{
    width: 100px;
    padding: 10px;
    color: white;
    background-color: orangered;
    border: none;
    margin-left: 390px;
}

.btn1:hover{
    background-color: rgb(231, 135, 100);
    color: black;
}
.btn2:hover{
    background-color: rgb(231, 135, 100);
    color: black;
}
/* Default (Mobile First) */
@media (min-width:425px){
main {
    /* max-width: 90%; */
    margin-left:40px;
    margin-top:200px ;
    margin-right:10px ;
    width:450px ;

  }
  .para1{
display: block;
margin-top:5px ;
    
  }
  .btn1{
    display: block;
    margin-left:10px ;
    margin-top:20px ;
  }
  .checkbox{
    display: block;
  }
  .link1{
    display: block;
    margin-left:9px;
    margin-top: 10px;
  }
  .btn2{
    display: block;
    margin-left:9px ;
    margin-top:10px ;
  }
}


  
  /* Tablet */
  @media (min-width: 768px) {
    main {
      /* max-width: 600px; */
      margin-left:150px ;
      width:500px ;
    }
    .checkbox{
        display: inline;
    }
    .link1{
display: inline;
margin-left:30px ;
    }
    .para1{
        display: inline;

    }
    .btn1{
        display: inline;
        margin-left:170px ;
    }
    .btn2{
        display: inline;
        margin-left:160px ;
    }
    
  }
  
  /* Desktop */
  @media (min-width: 1024px) {
    main {
      /* max-width: 650px; */
      padding-top: 60px;
      width:600px ;
      margin-left:500px ;
      margin-top: 250px;
    }
    .btn1{
      margin-top:40px;
      margin-left:277px ;
    }
    .link1{
        margin-left:130px ;
    }
    .btn2{
        margin-left:255px ;
    }
  }
  